extends layout

block append head
  // prism.js
  link(rel='stylesheet', href='/assets/prism.css')
  script(src='/assets/prism.js')

block content
  dl.dl-horizontal
    dt WorkerType
    dd
      code #{workerType.workerType}
    dt ImageId
    dd
      pre
        code.language-javascript
          | #{JSON.stringify(workerType.configuration, null, 2)}
    hr
    dt Actions
    dd
      a(href="/worker-type/#{workerType.workerType}/edit").btn.btn-success.btn-sm
        i.glyphicon.glyphicon-pencil
        |  Edit
      = ' '
      a(
        href="/worker-type/#{workerType.workerType}/delete"
      ).btn.btn-danger.btn-sm.prompt-first
        i.glyphicon.glyphicon-trash
        |  Delete
  script
    | $('.prompt-first').click(function() {
    |   return confirm("Do you really want to delete this worker type?");
    | });